<span class="configuration">
    <button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button>
    <span class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Styles <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li class=""><a href="#" rel="nav-tabs">Default</a></li>
    <li class=""><a href="#" rel="nav-pills">Pills</a></li>
</ul>
</span>
<a class="btn btn-mini" href="#" rel="nav-stacked">Stacked</a>
</span>