<span class="configuration">
    <button type="button" class="btn btn-mini" data-target="#editorModal" role="button" data-toggle="modal">Editor</button>
    <span class="btn-group">
        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">Style <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li class="active"><a href="#" rel="">Default</a></li>
    <li class=""><a href="#" rel="table-striped">Striped</a></li>
    <li class=""><a href="#" rel="table-bordered">Bordered</a></li>
</ul>
</span>
<a class="btn btn-mini" href="#" rel="table-hover">Hover</a> <a class="btn btn-mini" href="#" rel="table-condensed">Condensed</a>
</span>